html {
    font-family: 'Newsreader', serif;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background_main.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

body {
    overflow: hidden;
    color: white;
  }

.four {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

@keyframes henry {
    from { 
        height: 75vw;
        width: 75vw;
    }
    to { 
        height: 125vw;
        width: 125vw;
    }
}

.henry {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 75vw;
    width: 75vw;
    animation-name: henry;
    animation-duration: 3600s;
    animation-iteration-count: 1;
}

.toolate {
    color: transparent;
    text-decoration: none;
    left: 50%;
}