html {
    font-family: 'Newsreader', serif;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background_main.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    overflow: hidden;
    color: white;
}

@keyframes henry {
    from {
        height: 75%;
        width: 100%;
    }

    to {
        height: 125%;
        width: 125%;
    }
}

.henry {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 100%;
    animation-name: henry;
    animation-duration: 3600s;
    animation-iteration-count: 1;
}