html {
    font-family: 'Courier New';
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background_main.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    color: white;
    overflow: hidden;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .navbar a:hover {
        color: #adadad;
    }

@media screen and (min-width: 961px) {
    .about {
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .about img {
        max-width: 50vw;
        max-height: 25vw;
        margin: 1vw;
    }
    .about p {
        margin: 1vw;
        font-size: 1.2vw;
        max-width: 50vw;
    }

    .navbar a {
        float: left;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 960px) {
    .about {
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .about img {
        max-width: 50vw;
        max-height: 35vw;
        margin: 1vw;
    }

    .about p {
        margin-bottom: 100px;
        font-size: 1.5vw;
        max-width: 50vw;
    }

    .navbar a {
        float: left;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5vw;
    }
}

.socials {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 2%;
    display: flex;
    position: fixed;
}

    .socials a {
        float: left;
        padding: 10px 10px;
    }
