html {
    font-family: 'Courier New';
    margin: 0 auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background_main.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
    color: white;
}

.navbar {
    z-index: 9;
    background-color: black;
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

    .navbar a:hover {
        color: #adadad;
    }

body::-webkit-scrollbar {
    display: none;
}

.container {
    width: 100%;
    height: 100%;
    overflow: scroll hidden;
    overflow-x: hidden;
}

    .container section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25vw;
        width: 100vw;
        height: 50vw;
    }

    .container h1 {
        position: relative;
        bottom: 3em;
    }

        .container h1 a {
            text-decoration: none;
            color: white;
        }

    .container p {
        text-align: center;
        position: absolute;
        padding: 20vw;
    }

    .container h6 {
        text-align: center;
        position: absolute;
        color: transparent;
    }
        .container h6 a {
            text-decoration: none;
            color: transparent;
        }

    .container .vulture {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/vulture.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .container .mankind {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/mankind.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: 'EB Garamond', serif;
    }

    .container .end {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/end.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    .container .exordium {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/exordium.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

@media screen and (min-width: 961px) {


    .navbar a {
        float: left;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 960px) {

    .navbar a {
        float: left;
        color: #FFFFFF;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5vw;
    }
}

.socials {
    z-index: 10;
    background-color: black;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 2%;
    display: flex;
    position: fixed;
}

    .socials a {
        float: left;
        padding: 10px 10px;
    }
