html {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/background.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

body {
    overflow: hidden;
  }

#main-menu {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

#main-menu .main-logo {
    position: absolute;
  }

#main-menu .nav-menu {
    overflow: hidden;
    position: relative;
    top: 14%;
  }

#main-menu .nav-menu a {
    float: left;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px
  }

#main-menu .nav-menu a:hover {
    color: #adadad;
  }

.socials {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: 2%;
    display: flex;
    position: absolute;
  }

.socials a {
    float: left;
    padding: 10px 10px;
  }
