body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

}

@font-face {
    font-family: 'clancy';
    src: url("../fonts/Main Font.ttf");
}

@font-face {
    font-family: 'clancy-bold';
    src: url("../fonts/Main Font Bold.ttf");
}

a {
    font-family: clancy;
    text-decoration: none;
    text-decoration-color: #FF0000;
    color: #FF0000;
    text-align: center;
    font-size: 3em;
}

p {
    font-family: clancy;
    color: #009999;
    text-align: center;
}

.lyrics {
    display: flex;
    flex-direction: column;
}

    .lyrics img {
        padding: 10px;
    }
